[submodule "6255439-blogverse-frontend"]
    path = 6255439-blogverse-frontend
    url = https://github.com/Adam4372896/6255439-blogverse-frontend.git

[submodule "6255439-blogverse-backend"]
    path = 6255439-blogverse-backend
    url = https://github.com/Adam4372896/6255439-blogverse-backend.git