[submodule "6255439-blogverse-frontend"]
    path = 6255439-blogverse-frontend
    url = <lien SSH du repo du frontend>

[submodule "6255439-blogverse-backend"]
    path = 6255439-blogverse-backend
    url = <lien SSH du repo du backend>